services:
  backend:
    build: 
      context: ./Backend
      dockerfile: Dockerfile
    container_name: backend_container
    networks:
      - mlstudio_network
    ports:
      - 8000:8000
    entrypoint: "uvicorn app.main:app --host 0.0.0.0 --port 8000"
  frontend:
    build: 
      context: ./Frontend
      dockerfile: Dockerfile
    container_name: frontend_container 
    # Thiết lập biến environment từ file .env chứa những thông tin nhạy cảm. 
    # Mục đích ở đây là để frontend biết được địa chỉ của backend để goi API.
    env_file:
      - .\Frontend\.env
    networks:
      - mlstudio_network
    ports:
      - 3000:3000
    entrypoint: "streamlit run App.py --server.address=0.0.0.0 --server.port=3000"
networks:
  mlstudio_network:
    driver: bridge
